/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.containerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  /* gap: var(--ifm-spacing-horizontal) */
  gap: 4em;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* irdetoGreen,irdetoPurple,irdetoPurple,irdetoGreen */
  background-image: linear-gradient(
    to right,
    #aebf1e,
    #5d176a,
    #5d176a,
    #aebf1e
  );
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}
